<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>

    </style>
</head>

<body>
    <h1>Info From Server:</h1>
    <h2>
        <p>Name: {{name}}</p>
        <p>Color: {{favorite_color}}</p>
        <p>Kids</p>
        <ul>
            {% for kid in kids %}
            <li>{{kid}}</li>
            {% endfor %}
        </ul>
    </h2>
</body>

</html>