{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block title %}
Ninja Gold
{% endblock title %}

{% block content %}

<!-- game header -->
<div class="container-fluid">
    <div class="row justify-content-start bg-black">
        <div class="col-3">
            <h1>YOUR GOLD: </h1>
            <div class="gold-text">{{ total_gold }}</div>
        </div>
    </div>
</div>

<!-- game form deck -->
<div class="container-fluid">
    <div class="row justify-content-around bg-gold">
        <div class="col-2">
            <form action="/process" method="POST">
                {% csrf_token %}
                <input type="hidden" name="activity" value="farm">
                <h1>Farm</h1>
                <button type="submit" id="button-farm"></button>
                <h2>Find Gold! &#8679;</h2>
            </form>
        </div>
        <div class="col-2">
            <form action="/process" method="POST">
                {% csrf_token %}
                <input type="hidden" name="activity" value="cave">
                <h1>Cave</h1>
                <button type="submit" id="button-cave"></button>
                <h2>Find Gold! &#8679;</h2>
            </form>
        </div>
        <div class="col-2">
            <form action="/process" method="POST">
                {% csrf_token %}
                <input type="hidden" name="activity" value="house">
                <h1>House</h1>
                <button type="submit" id="button-house"></button>
                <h2>Find Gold! &#8679;</h2>
            </form>
        </div>
        <div class="col-2">
            <form action="/process" method="POST">
                {% csrf_token %}
                <input type="hidden" name="activity" value="casino">
                <h1>Casino</h1>
                <button type="submit" id="button-farm"></button>
                <h2>Win Gold! &#8679;</h2>
            </form>
        </div>
    </div>
</div>


<!-- game activity viewer -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="log">
            {% autoescape off %}
            {{ log }}
            {% endautoescape %}
        </div>
    </div>
</div>

{% endblock content %}